*{
    color: black;
    font-family: Georgia
}
h1{
    font-size: 50px;
    font-weight: bold;
}
html{
    text-align: center;
    background-image: linear-gradient(hsl(51, 75%, 84%),hsl(30, 82%, 67%));
}
.block{
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}
#contents{
    background-color: white;
    margin: auto;
    width: 626px;
    height: 130px;
    padding: 0 0 0 0;
}
.blankspace{
    padding-top: 8px;
}
a{
    font-size: 22px;
    color: black;
    text-decoration: none;
  }



